/* questions.css */

.difficulty-table {
    width: 80%;
    height: auto;
    border-collapse: collapse;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  tr {
    border: 1px solid black;
    /* border-bottom: 1px solid black; */
  }
  
  .table-div {
    width: 100%;
    height: 100%;
    padding: 50px;
  }
  
  .row-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkbox-col {
    width: 10%;
    text-align: center;
  }
  
  .question-table{
    margin-bottom: 5%;
  }

  .selected-row{
    background-color: lightgreen;
  }
